body{

background:#4c545b;
font-family: 'Roboto', sans-serif;
margin: 1%;
padding: 2%;

}


.container{


background-color:orange;
margin : 1%;
padding: 2%;
border-radius:50px;
font-size:20px;
font-weight:900;
font-family: 'Roboto', sans-serif;
width:700px;
height:60 px;
}




span{
color:223d4c;
font-size:20px;
font-weight:900;
margin: 1%;
padding :2%;

}




.faltante{


background-color:red;
margin : 1%;
padding: 2%;
border-radius:50px;
font-size:20px;
font-weight:900;
font-family: 'Roboto', sans-serif;
width:700px;
height:60 px;
}






